<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Página Principal</title>
</head>

<body>

    <!-- conteudo principal -->
    <main layout:fragment="conteudo" class="flex flex-col w-full pt-3">
        <div class="flex flex-col md:ms-16 md:w-2/3 p-3">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="border rounded-xl overflow-hidden shadow">
                        <!-- ja joguei as informações para o model, agora so exibir criando os elementos -->
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Código
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Nome
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                        Descrição
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vacina : ${vacinas}"
                                    class="odd:bg-white even:bg-gray-100 hover:bg-gray-200">
                                    <td th:text="${vacina.codigo}"
                                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"></td>
                                    <td th:text="${vacina.nome}"
                                        class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    <td th:text="${vacina.descricao}"
                                        class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    </td>
                                </tr>
                            </tbody>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- !conteudo principal -->

</body>

</html>