<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring MVC com Spring Boot</title>
</head>

<body>
    <h1>Bem vindo ao Spring Boot!</h1>
    <p><a th:href="@{/retornarview}">Solicitar uma view</a></p>
    <form action="#" th:action="@{/bemvindo}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
        <input type="submit" value="Enviar">
    </form>

    <br />
    <!-- action="#" significa que é gerado pelo thymeleaf -->
    <form action="#" th:action="@{/objetoqualquer}" method="post">
        <label for="valor1">Valor1:</label>
        <input type="number" name="valor1" id="valor1" placeholder="Digite um número" /><br />
        <label for="valor2">Valor2:</label>
        <input type="text" name="valor2" id="valor2" placeholder="Digite um texto" /><br />
        <input type="checkbox" name="valor3" id="valor3" />
        <label for="valor3">Valor3</label><br /><br />
        <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/produto/novo}">Cadastrar novo produto</a>

    <hr>
	<a th:href="@{/fichas/inserir}">Cadastrar uma nova Ficha</a>
</body>

</html>